* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Rubik Moonrocks";
  font-weight: 400;
  src: local("Rubik Moonrocks"),
    url("./assets/fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 900;
  src: local("Rubik Moonrocks"),
    url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

a {
  font-weight: 500;
  font-size: 32px;
  color: #646cff;
  text-decoration: inherit;
  font-family: "Rubik", sans-serif;
  -webkit-text-stroke: 1px #000;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;

  background: #d9a96c;
  background: -moz-radial-gradient(circle, #d9a96c 40%, #90644e 100%);
  background: -webkit-radial-gradient(circle, #d9a96c 40%, #90644e 100%);
  background: radial-gradient(circle, #d9aa6d 40%, #90644e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9a96c",endColorstr="#90644e",GradientType=1);

  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Rubik Moonrocks", sans-serif;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-text-stroke: 1px #000;
}
